<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>TroveXpins</title>

		<!-- <link rel="icon" href="./public/images/trove-logo.png"> -->
		<link
		rel="icon"
		href="https://cdn-icons-png.flaticon.com/512/8853/8853779.png"
		/>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<script src="https://cdn.tailwindcss.com"></script>
		<!-- <link rel="stylesheet" href="/public/stylesheets/input.css" />
		<link rel="stylesheet" href="/public/stylesheets/style.css" /> -->
	</head>
	<body>
		<!-- Included Footer -->
		<% include ./partials/header.ejs %>

		<!-- /index Page Body Starts -->
		<div class="flex items-center justify-center w-full h-screen bg-[url('https://images.unsplash.com/photo-1672239272089-250c32c3e2e2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]  bg-no-repeat bg-center bg-cover"> <!-- bg-zinc-300 -->
			<div class="w-[28vw] h-[80vh] bg-white px-8 py-5 rounded-3xl">
				<div class="flex items-center justify-center w-full mt-6 ">
					<img class="items-center self-center justify-center w-16 cursor-none" src="/images/trove-logo.png" alt="TroveXpins">
				</div>
				<h1 class="mt-6 mb-4 text-4xl font-semibold leading-none tracking-tight text-center text-zinc-700">Welcome to TroveXpins</h1>
				<form action="/login" method="post">
					<input class="block w-full px-3 py-2 mt-8 bg-white border-2 border-slate-200 rounded-xl" type="text" name="username" placeholder="Username">
					
					<input class="block w-full px-3 py-2 mt-2 bg-white border-2 border-slate-200 rounded-xl" type="password" name="password" placeholder="Password">

					<a class="inline-block mt-3 font-semibold text-zinc-500" href="#">Forgot password?</a>

					<!-- Login Button Input-->
					<input class="block w-full px-3 py-3 mt-4 text-xl font-bold text-white bg-gradient-to-r from-[#ad5389] to-[#3c1053] rounded-full cursor-pointer" type="submit" value="Login">

					<p class="flex items-center content-center justify-center w-full mt-3 text-xl font-medium text-zinc-700"><strong>OR</strong></p>

					<!-- Google Button -->
					<button class="flex items-center content-center justify-center w-full gap-4 px-3 py-2 mt-2 text-xl font-bold text-white bg-black rounded-full">
						<svg class="w-6 h-6 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
						Continue with Google
					</button>

					<!-- Facebook Button -->
					<button class="flex items-center content-center justify-center w-full gap-4 px-3 py-2 mt-2 text-xl font-bold text-white bg-[#3b5998] rounded-full">
						<svg class="w-6 h-6 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.1 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.4 0 225.4 0c-73.22 0-121.1 44.38-121.1 124.7v70.62H22.89V288h81.39v224h100.2V288z"></path></svg>
						Sign in with Facebook
					</button>

					<p class="mt-4 text-zinc-800 text-xs w-[90%]">By continuing, you agree to TrovexPins's <strong class="cursor-pointer">Terms of Service</strong> and acknowledge you've read our <strong class="cursor-pointer">Privacy Policy</strong></p>
				</form>
				<a class="inline-block mt-2 text-xs font-semibold cursor-pointer text-zinc-500" href="/register">Not on TroveXpins? <strong class="font-bold text-black">Sign up</strong></a>
			</div>
		</div>

		<!-- Included Footer -->
		<% include ./partials/footer.ejs %>

		<!-- Include script -->
		<script src="" async defer></script>
	</body>
</html>
